<table>
  <thead>
    <tr>
      <th data-field="id">Form ID</th>
      <th data-field="id">Nama</th>
      <th data-field="id">Email</th>
      <th data-field="name">Program</th>
      <th data-field="price">Jumlah Pinjaman</th>
      <th data-field="price">Jumlah Disetujui</th>
      <th data-field="price">Tenor</th>
      <th data-field="price">Status Pinjaman</th>
      <th data-field="price">Test</th>
    </tr>
  </thead>

  <tbody>
    {{#each this}}
    <tr>
      <td>{{formID}}</td>
      <td>{{namaLengkap}}</td>
      <td>{{email}}</td>
      <td>{{namaProgram}}</td>
      <td>{{jumlahPinjaman}}</td>
      <td>{{approvalAmount}}</td>
      <td>{{approvalTenor}}</td>
      <td>{{decision}}</td>
    </tr>
   {{/each}}
  </tbody>
</table>
