<div style="font-family: Georgia;" id="surat-kontrak">
  <p class="p1" style="text-align: center;"><span class="s1"><strong>SERTIFIKAT SURAT HUTANG</strong></span></p>
  <p class="p2">&nbsp;</p>
  <p class="p3"><span class="s1"><strong>Jumlah Pokok :<span class="Apple-converted-space">&nbsp; </span>{{approvalAmount}}</strong></span></p>
  <p class="p3"><span class="s1"><strong>Tenor : {{approvalTenor}}</strong></span></p>
  <p class="p3"><span class="s1"><strong>Angsuran : ( )</strong></span></p>
  <p class="p3"><span class="s1"><strong>Bunga (flat) : ( )</strong></span></p>
  <p class="p3"><span class="s1">Tanggal Penerbitan : {{terbit}}</span></p>
  <p class="p3" style="text-align: justify;"><span class="s1">Sertifikat Surat Hutang ("<strong>Sertifikat</strong>") ini diterbitkan oleh ("<strong>Penerbit</strong>") dengan syarat-syarat dan ketentuan yang diatur di dalam, dan merupakan bagian yang tidak terpisahkan dari, Perjanjian Penerbitan Surat Hutang tanggal<span class="Apple-converted-space">&nbsp; </span>("<strong>Perjanjian</strong>") antara Penerbit dengan PEMESAN yang terdaftar dalam Lampiran 1 dari Perjanjian ("<strong>Pemesan</strong>") dan PT Indonusa Bara Sejahtera selaku Agen Fasilitas yang dalam hal ini telah diberikan kuasa dari Pemesan untuk memegang Surat Hutang untuk dan atas kepentingan dari Pemesan ("<strong>Pemegang Surat Hutang</strong>"). </span></p>
  <p class="p3" style="text-align: justify;"><span class="s1">Penerbit dengan ini menegaskan bahwa Pemegang Surat Hutang pada tanggal Sertifikat ini merupakan pemegang Surat Hutang yang sah dengan jumlah pokok Rp. Atas nilai yang diterima tersebut, Penerbit berjanji untuk melakukan pelunasan Kewajiban yang Terhutang sesuai dengan ketentuan yang diatur di dalam Perjanjian.</span></p>
  <p class="p3" style="text-align: justify;"><span class="s1">Sertifikat ini hanya merupakan bukti kepemilikan. Penerbit dengan ini menyatakan dan menegaskan bahwa Sertifikat ini tidak ditawarkan kepada masyarakat dan Penerbit tidak pernah mengajukan permohonan pendaftaran kepada Otoritas Jasa Keuangan sesuai dengan Undang-Undang No. 8 tahun 1995 tentang Pasar Modal dan peraturan pelaksananya. Oleh karena itu, Sertifikat tidak dapat ditawarkan atau dijual dengan cara yang merupakan penawaran umum berdasarkan hukum yang berlaku di Indonesia.</span></p>
  <p class="p3" style="text-align: justify;"><span class="s1">Sertifikat ini diatur berdasarkan, dan harus ditafsirkan sesuai dengan peraturan perundang-undangan yang berlaku di Republik Indonesia.</span></p>
  <p class="p3"><span class="s1">, 2016</span></p>
  <p class="p3"><span class="s1"><strong>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Penerbit: </strong></span></p>
  <p class="p2">&nbsp;</p>
  <p class="p2">&nbsp;</p>
  <p class="p2">&nbsp;</p>
  <p class="p3"><span class="s1">{{namaLengkap}}</span></p>
</div>
<button type="button" name="button" onclick="generatePdf('uber')">Generate Uber</button>
<button type="button" name="button" onclick="generatePdf('bukan')">Generate Bukan Uber</button>
<script type="text/javascript">
  function generate() {
    var pdf = new jsPDF('p', 'pt', 'letter');
    pdf.setFont('times')
    var source = $('#surat-kontrak')[0];
    margins = {
      top: 40,
      bottom: 30,
      left: 40,
      right: 30,
      width: 700
    };
    pdf.fromHTML(
      source, // HTML string or DOM elem ref.
      // 15,
      // 15, {
      //   'width': 500
      // },
      margins.left, // x coord
      margins.top,
      {// y coord
          'width': margins.width // max width of content on PDF
      },
      function(dispose) {
          pdf.output('dataurlnewwindow');
      }
      , margins)
  }
  function generatePdf(type) {
    pdfMake.fonts = {
      Georgia: {
          normal: 'Georgia-Regular.ttf',
          bold: 'Georgia-Bold.ttf',
          italics: 'Georgia-Italic.ttf'
      }
    }
    var docDefinition = {
      pageSize: 'A4',
      pageMargins: [ 40, 60, 40, 60 ],
      content: [
        { text: 'SERTIFIKAT SURAT HUTANG', style: 'title' },
        {
          style: 'detail',
          table: {
          body: [
            ['Jumlah Pokok', ':', '{{approvalAmount}}'],
            ['Tenor', ':', '{{approvalTenor}}'],
            ['Angsuran', ':',''],
            ['Bunga (Flat)', ':',''],
            ['No',':',''],
            ['Tanggal Penerbitan', ':', '{{terbit}}']
          ]
          },
          layout: 'noBorders'
        },
        {
          text: [
            'Sertifikat Surat Hutang ',
            {text: '("Sertifikat")', bold:true},
            ' ini diterbitkan oleh ',
            {text: '("Penerbit")', bold:true},
            ' dengan syarat-syarat dan ketentuan yang diatur di dalam, dan merupakan bagian yang tidak terpisahkan',
            'dari, Perjanjian Penerbitan Surat Hutang tanggal',
            {text: '("Perjanjian")', bold:true},
            ' antara Penerbit dengan PEMESAN yang terdaftar dalam Lampiran 1 dari Perjanjian ',
            {text: '("Pemesan")', bold:true},
            ' dan PT Indonusa Bara Sejahtera selaku Agen Fasilitas yang dalam hal ini telah diberikan kuasa dari Pemesan',
            'untuk memegang Surat Hutang untuk dan atas kepentingan dari Pemesan ',
            {text: '("Pemegang Surat Hutang")', bold:true},
            '.\n\n',
            'Penerbit dengan ini menegaskan bahwa Pemegang Surat Hutang pada tanggal Sertifikat ini merupakan pemegang Surat Hutang yang sah dengan jumlah pokok Rp. Atas nilai yang diterima tersebut, Penerbit berjanji untuk melakukan pelunasan Kewajiban yang Terhutang sesuai dengan ketentuan yang diatur di dalam Perjanjian. \n\n',
            'Sertifikat ini hanya merupakan bukti kepemilikan. Penerbit dengan ini menyatakan dan menegaskan bahwa Sertifikat ini tidak ditawarkan kepada masyarakat dan Penerbit tidak pernah mengajukan permohonan pendaftaran kepada Otoritas Jasa Keuangan sesuai dengan Undang-Undang No. 8 tahun 1995 tentang Pasar Modal dan peraturan pelaksananya. Oleh karena itu, Sertifikat tidak dapat ditawarkan atau dijual dengan cara yang merupakan penawaran umum berdasarkan hukum yang berlaku di Indonesia. \n\n',
            'Sertifikat ini diatur berdasarkan, dan harus ditafsirkan sesuai dengan peraturan perundang-undangan yang berlaku di Republik Indonesia.'
          ],
          style: 'isisurat'
        },
        {text: '{{terbit}}', style: 'terbit'},
        {
          text: [
            {text: 'Penerbit: ', bold: true},
            '\n\n\n\n\n\n',
            {text: '{{namaLengkap}}', bold: true}
          ],
          style: 'sign'
        }
      ],
      styles: {
        title: {
          fontSize: 14,
          bold: true,
          alignment: 'center',
          margin: [0, 30, 0, 16]
        },
        detail: {
          fontSize: 12,
          margin: [15, 15, 0, 30]
        },
        isisurat: {
          fontSize: 12,
          alignment: 'justify',
          margin: [15, 0, 15, 5]
        },
        terbit: {
          margin: [15, 0, 15, 5]
        },
        sign: {
          margin: [15, 0, 0, 5]
        }
      },
      defaultStyle: {
        font: 'Georgia'
      }
    }
    var docPN = {
      pageSize: 'A4',
      pageMargins: [40,60,40,60],
      content: [
        {text: [
          'PERJANJIAN PENERBITAN SURAT HUTANG ("Perjanjian") ini dibuat pada tanggal ( ) 2016, antara:\n\n'
        ]},
        {
          style: 'list',
          ol: [
            '( ), Warga Negara Indonesia, pemegang Kartu Tanda Penduduk No. ( ), yang berdomisili di ( ) ("Penerbit");\n\n',
            'PT Indonusa Bara Sejahtera, suatu perseroan terbatas yang didirikan dan tunduk berdasarkan Hukum yang Berlaku di Indonesia, yang berdomisili di DBS Tower ("Agen Fasilitas"); dan\n\n',
            'PARA PEMESAN yang tercantum dalam Lampiran 1 dari Perjanjian ini, yang dalam hal ini telah memberikan kuasa kepada Agen Fasilitas untuk melakukan pemesanan atas Surat Hutang ("Pemesan"),\n\n'
          ]
        },
        {
          ol: [
            'A'
          ]
        }
      ],
      styles: {
        list: {
          fontSize: 12,
        }
      },
      defaultStyle: {
        font: 'Georgia'
      }
    }
    if(type == 'uber'){
      pdfMake.createPdf(docPN).open()
    } else {
      pdfMake.createPdf(docDefinition).open()
    }
  }
</script>
